/* Credits: Minimal Functioning Firefox https://github.com/mut-ex/minimal-functional-fox*/

 :root {

   /* Minimal Functional Fox variables*/
  --mff-bg: #272b2e;
  --mff-icon-color: #cfcfcf;
  --mff-nav-toolbar-padding: 8px;
  --mff-sidebar-bg: var(--mff-bg);
  --mff-sidebar-color: #cfcfcf;
  --mff-tab-border-radius: 0px;
  --mff-tab-color: #cfcfcf;
  --mff-tab-font-family: "Bahnschrift", sans;
  --mff-tab-font-size: 10pt;
  --mff-tab-font-weight: 400;
  --mff-tab-height: 40px;
  --mff-tab-pinned-bg: #70c1b3;
  --mff-tab-selected-bg: #1d1f21;
  --mff-urlbar-color: #cfcfcf;
  --mff-urlbar-focused-color: #cfcfcf;
  --mff-urlbar-font-family: "Bahnschrift", serif;
  --mff-urlbar-font-size: 10pt;
  --mff-urlbar-font-weight: 400;
  --mff-urlbar-results-color: #cfcfcf;
  --mff-urlbar-results-font-family: "Bahnschrift", serif;
  --mff-urlbar-results-font-size: 10pt;
  --mff-urlbar-results-font-weight: 400;
  --mff-urlbar-results-url-color: #98c1d9;
  /*   --mff-tab-selected-bg: linear-gradient(90deg, rgba(232,74,95,1) 0%, rgba(255,132,124,1) 50%, rgba(254,206,168,1) 100%); */
  /*   --mff-urlbar-font-weight: 600; */

  /* Overriden Firefox variables*/
  --autocomplete-popup-background: var(--mff-bg) !important;
  --default-arrowpanel-background: var(--mff-bg) !important;
  --default-arrowpanel-color: #fefefa !important;
  --lwt-toolbarbutton-icon-fill: var(--mff-icon-color) !important;
  --panel-disabled-color: #f9f9fa80;
  --toolbar-bgcolor: var(--mff-bg) !important;
  --urlbar-separator-color: transparent !important;
}

/*
  _____ _   ___ ___
 |_   _/_\ | _ ) __|
   | |/ _ \| _ \__ \
   |_/_/ \_\___/___/

*/

.tab-text {
  font-family: var(--mff-tab-font-family);
  font-weight: var(--mff-tab-font-weight);
  font-size: var(--mff-tab-font-size) !important;
  color: var(--mff-tab-color);
}

/* Hide the favicon for tabs 
hbox.tab-content .tab-icon-image {
  display: none !important;
}
*/

/* Show the favicon for tabs that are pinned */
hbox.tab-content[pinned=true] .tab-icon-image {
  display: initial !important;
}

hbox.tab-content[pinned=true] .tab-text {
  display: none !important;
}

#tabbrowser-tabs {
  --tab-loading-fill: #033433 !important;

}

/* .tab-label-container::after {
  content: "?" !important;

} */

/*
  _____ ___   ___  _    ___   _   ___
|_   _/ _ \ / _ \| |  | _ ) /_\ | _ \
  | || (_) | (_) | |__| _ \/ _ \|   /
  |_| \___/ \___/|____|___/_/  \_\_|_\
*/

#urlbar-results {
  font-family: var(--mff-urlbar-results-font-family);
  font-weight: var(--mff-urlbar-results-font-weight);
  font-size: var(--mff-urlbar-results-font-size) !important;
  color: var(--mff-urlbar-results-color) !important;
}

.urlbarView-url, .search-panel-one-offs-container {
  color: var(--mff-urlbar-results-url-color) !important;
  font-family: var(--mff-urlbar-font-family);
  font-weight: var(--mff-urlbar-results-font-weight);
  font-size: var(--mff-urlbar-font-size) !important;
}

.urlbarView-favicon, .urlbarView-type-icon {
  display: none !important;
}

#urlbar-input {
  font-size: var(--mff-urlbar-font-size) !important;
  color: var(--mff-urlbar-color) !important;
  font-family: var(--mff-urlbar-font-family) !important;
  font-weight: var(--mff-urlbar-font-weight)!important;
  text-align: center !important;
}

#tracking-protection-icon-container, #identity-box {
  display: none;
}

toolbar {
  background-image: none !important;
}

box.panel-arrowbox {
  display: none;
}

box.panel-arrowcontent {
  border-radius: 8px !important;
  border: none !important;
}

tab.tabbrowser-tab {
  overflow: hidden;
}

tab.tabbrowser-tab:hover {
  box-shadow: 0 1px 4px rgba(0,0,0,.05);
}

image#star-button {
  display: none;
}

/*
  ___ ___ ___  ___ ___   _   ___
 / __|_ _|   \| __| _ ) /_\ | _ \
 \__ \| || |) | _|| _ \/ _ \|   /
 |___/___|___/|___|___/_/ \_\_|_\
*/

.close-icon, .urlbar-icon {
  fill: var(--mff-icon-color) !important;
}

.sidebar-placesTree {
  color: var(--mff-sidebar-color) !important;
}

#sidebar-switcher-target {
/*   color: white !important; */
}

#sidebar-box {
  --sidebar-background-color: var(--mff-sidebar-bg) !important;
}

splitter#sidebar-splitter {
  opacity: 0 !important;
}

splitter#sidebar-splitter {
  border: none !important;
  background-color: transparent !important;
}

image#sidebar-icon {
  display: none;
}


/*
    _   ___ ___  _____      _____  _   _  _ ___ _
   /_\ | _ \ _ \/ _ \ \    / / _ \/_\ | \| | __| |
  / _ \|   /   / (_) \ \/\/ /|  _/ _ \| .` | _|| |__
 /_/ \_\_|_\_|_\\___/ \_/\_/ |_|/_/ \_\_|\_|___|____|
 */

.panel-arrowcontent {
  padding: 0px !important;
  margin: 0px !important;
}

toolbarseparator {
  display: none;
}

/* hide navbar */
#nav-bar:not([customizing]){
	visibility: visible;
	margin-top: -40px;
  transition-delay: 1s;
  filter: alpha(opacity=0);
  opacity: 0;
  transition: visibility, ease 0.5s, margin-top, ease 0.5s, opacity, ease 0.5s !important;
}
/* 
keep visible when urlbar is focused
navbar is hovered
or menubar/customization is open
*/
:root:not([customizing]) :hover > #nav-bar,
#nav-bar:focus-within,
#urlbar[focused="true"],
#identity-box[open="true"],
#navigator-toolbox:hover > #nav-bar:not([customizing]),
#toolbar-menubar:not([inactive="true"]) ~ #nav-bar:not([customizing]) {
	visibility: visible;
	margin-top: 0;
    filter: alpha(opacity=100);
    opacity: 100;
}

#nav-bar .toolbarbutton-1[open="true"]{
  visibility: visible;
  margin-top: 0px;
  opacity: 100;
}


/**** ONLY USE ONE OF THE FOLLOWING ****/
/**** These select the behavior of a scenario where the page has no favicon ****/

/*** Option 1 - no favicon - no close-button ***/

/*
.tab-icon-stack:hover ~ .tab-close-button, .tab-close-button:hover{ visibility: visible; z-index: 1 }
*/

/*** Option 2 - No icon - always show close-button ***/

/*
.tab-icon-stack:hover ~ .tab-close-button,
.tab-close-button:hover,
.tabbrowser-tab:not([image]) .tab-close-button{ visibility: visible; z-index: 1 }
.tabbrowser-tab:not([image]) .tab-close-button{ margin-inline-end: 0 !important; }
*/

/*** Option 3 - No icon - show close-button when cursor is over the tab ***/

.tab-icon-stack:hover ~ .tab-close-button,
.tab-close-button:hover,
.tabbrowser-tab:not([image]):hover .tab-close-button{ visibility: visible; z-index: 1;  }
.tabbrowser-tab:not([image]):hover .tab-close-button{ margin-inline-end: 0 !important; }




